<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--Alias-->
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />

  <!--Container-->
  <container name="unityContainer">

    <!--Begin Register Logic-->
    <register type="EquipmentInventory.Business.IEquipmentLogic,EquipmentInventory.Business"
              mapTo="EquipmentInventory.Business.EquipmentLogic,EquipmentInventory.Business">
    </register>

    <!--<register type="EquipmentInventory.Shared.IUserInstrumentLogic,EquipmentInventory.Shared"
              mapTo="EquipmentInventory.Business.UserInstrumentLogic,EquipmentInventory.Business">
    </register>-->

    <!--End Register Logic-->

    <!--Begin Register Repositories-->

    <register type="EquipmentInventory.Data.IEquipmentRepository,EquipmentInventory.Data"
				mapTo="EquipmentInventory.Data.EquipmentRepository,EquipmentInventory.Data">
    </register>

    <!--<register type="EquipmentInventory.Shared.IUserInstrumentRepository,EquipmentInventory.Shared"
				mapTo="EquipmentInventory.Data.UserInstrumentRepository,EquipmentInventory.Data">
    </register>-->
    
    <!--End Register Repositories-->
  </container>
</unity>